@charset "utf-8";

/* aタグの設定 */
a {
  text-decoration: none;
  color: black;
}

/* 全体の左右の余白の設定 */
body{
  width:70%;
  margin-left:auto;
  margin-right:auto;
}


/*header*/
header{
  display:flex;
  justify-content:space-between;
}



/* main リストのデザイン */
.product-list{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap: 3%;
  height:100%;
  overflow-y: hidden;
}

.product-list img{
  max-width:100%;
  
}

.product-list li {
 
  list-style-type: none;
}
/*View More*/

.link-text{
  
  display:block;
  text-Align:center;
  
}

/* footer */
footer{
  display:flex;
  justify-content:space-between;
}
footer ul{
  display:flex;
  gap: 1rem;
}
footer li{
  list-style-type:none;
  
}


@media(max-width:800px){
  header img{
    width:70%;
  }
  .product-list{
  grid-template-columns: repeat(2, 1fr);
  }
  .product-list{
    margin-bottom: 0rem;
  }
  footer{
    display:block;
  }
  
}



/* itemXX 部分 */
/* img & text を横並び */
.item{
  display:flex;
}
.item div {
  width:45%;
  margin-left:2.5%;
  margin-right:2.5%;
}
.item img {
  width: 100%;
}
/*----------*/
/*text部分*/
.item-text p{
margin-bottom:2rem;
}
/* table 部分の調整*/
.item th{
  text-align:left;
  font-weight:normal;
}
.item td{
padding-left:1rem;
}
