@charset "utf-8";
/*rgb(47, 0, 0);*/
/********共通部分*********/
/* aタグの設定 */
a {
  text-decoration: none;
  color: black;
}

/* 全体の左右の余白の設定 */
body{
  width:70%;
  margin-left:auto;
  margin-right:auto;
}



/*header*/
header{
  position:sticky;
  top:0px;
  display:flex;
  justify-content:space-between; 
  margin:1rem 0;
  
}
.hamburger-button {
  position:absolute;
  top:0px;
  right:0px;
  margin:0.35rem 0;
  margin-right:0px;
 
  display:flex;
  flex-direction:column;
  gap:0.4rem;
  padding:6px 0;

  z-index:1;
}
.hamburger-button div{
  border:1px solid black;
  width: 1.5rem;
}
#hamburger-button-open{
  display:flex;
}
#hamburger-button-close{
  display:none;
}
#hamburger-button-open div{
  border-color:blue;
}
#hamburger-button-close div{
  border-color:red;

}
#hamburger-menu{
  z-index: 1;
  color:brown;
  font-weight: bold;
  position: absolute;
  
}
#hamburger-background{
  background-color:black;
  opacity: 0.6;
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  
}
 #hamburger-menu
,#hamburger-background{
  
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display:none;
}
#hamburger-menu ul{
  list-style-type:none;
}



/*View More & Back To Products*/
.link-text {
  display: block;
  text-Align: center;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  gap: 1rem;
}

footer li {
  list-style-type: none;
}
/*-----------------*/



/*index.html*/
/* main リストのデザイン */
.product-list{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap: 3%;
  height:100%;
  overflow-y: hidden;
}

.product-list img{
  max-width:100%;
  
}

.product-list li {
 
  list-style-type: none;
}







/* itemXX 部分 */
/* img & info を横並び */
.item{
  display:flex;
  position:relative;
}
.item-img,.item-img img{
  width:50vh;
  height:50vh;
}
/*画像の大きさ*/

/*----------*/

/*info部分全体*/
.information{
  margin-left:3rem;
}
/* text部分 */
.item-text{
  width:100%;
}
.item-text p{
  margin-bottom:3rem;
}
/* 値段 */
.price{
  margin-bottom:2rem;
}
/* カタログスペック */
.spec{
position:absolute;
bottom:0rem;
margin-left:0px;

}
.spec th{
  text-align:left;
  font-weight:normal;
}
.spec td{
padding-left:1rem;
white-space:nowrap;
}

/* company.html */
#company{
  max-width:600px;
}
#company .info tr{
  border-collapse:collapse;
  margin-bottom:20px;
}

#company .info th{
  text-align:left;
  font-weight:normal;
  
  width:30%;
}
#company .info td{
  padding-left:3rem;
  width:70%;
}
#company .map iframe{
  width:100%;
  height:300px;
  filter:grayscale(1);/* 引数は 0 ~ 1 の間 -> 彩度が変わる？ */
}
.info th,.info td{
border-bottom:1px solid slategray;
padding:20px 10px;
}
 .info tr:last-child th
,.info tr:last-child td{
  border-bottom:none;
}



/* レスポンシブ *常に最後尾にすること* */
@media(max-width:500px) {

  /*index.html*/
  header img {
    width: 70%;
  }
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-list {
    margin-bottom: 0rem;
  }
  footer {
    display: block;
    margin-top:3rem;
  }

  /*itemXX.html*/
  .item {
    flex-direction: column;
  }

  .information {
    margin-left: 0rem;
  }
  .spec{
    position:static;
  }

  /* company.html */
   #company .info th
  ,#company .info td{
    display:block;
    width:100%;
    padding-left:0px;
    padding:0px 10px;
  }

  #company .info tr{
    display: block;
    padding:10px 0px;
    margin:0px;
  }
  #company .info th{
    border-bottom:none;
    padding-bottom:5px;
  }
  #company .info td{
    padding-top:5px;
    
  }
}

/*--------*/