@charset "utf-8";
/********共通部分*********/
/* aタグの設定 */
a {
  text-decoration: none;
  color: black;
}

/* 全体の左右の余白の設定 */
body{
  width:70%;
  margin-left:auto;
  margin-right:auto;
}



/*header*/
header{
  display:flex;
  justify-content:space-between;
  margin:1rem 0;
}
header nav{
  margin:auto;
  margin-right:0px;
}

/*View More & Back To Products*/
.link-text {
  display: block;
  text-Align: center;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
}

footer ul {
  display: flex;
  gap: 1rem;
}

footer li {
  list-style-type: none;
}
/*-----------------*/



/*index.html*/
/* main リストのデザイン */
.product-list{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap: 3%;
  height:100%;
  overflow-y: hidden;
}

.product-list img{
  max-width:100%;
  
}

.product-list li {
 
  list-style-type: none;
}







/* itemXX 部分 */
/* img & info を横並び */
.item{
  display:flex;
  position:relative;
}
.item-img,.item-img img{
  width:50vh;
  height:50vh;
}
/*画像の大きさ*/

/*----------*/

/*info部分全体*/
.information{
  margin-left:3rem;
}
/* text部分 */
.item-text{
  width:100%;
}
.item-text p{
  margin-bottom:3rem;
}
/* 値段 */
.price{
  margin-bottom:2rem;
}
/* カタログスペック */
.spec{
position:absolute;
bottom:0rem;
margin-left:0px;

}
.spec th{
  text-align:left;
  font-weight:normal;
}
.spec td{
padding-left:1rem;
white-space:nowrap;
}

/* company.html */
#company{
  max-width:600px;
}
#company table{
  border-collapse:collapse;
}

.info th{
  text-align:left;
  font-weight:normal;
}
.info td{
  padding-left:3rem;
}
.info th,.info td{
border-bottom:1px solid slategray;
padding:20px 10px;
}

/* レスポンシブ *常に最後尾にすること* */
@media(max-width:800px) {

  /*index.html*/
  header img {
    width: 70%;
  }
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-list {
    margin-bottom: 0rem;
  }
  footer {
    display: block;
    margin-top:3rem;
  }

  /*itemXX.html*/
  .item {
    flex-direction: column;
  }

  .information {
    margin-left: 0rem;
  }
  .spec{
    position:static;
  }
}

/*--------*/